.container {
    max-width: 1140px;
    margin: 0;
}

.about-container {
    padding: 55px 0 30px;
    text-align: center;
}

.one {
    position: relative;
}

.heading {
    color: #08080c;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 0 30px;
    display: block;
    font-family: 'Aveniornextltpro-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/*
.line-styling {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.line-styling .style-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
  
.line-styling .style-line {
    width: 95%;
    height: 5px;
    border-radius: 10px;
}
*/

.container-layout {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 628px;
    border: 1px solid hwb(0 0% 100% / 0.1);
}

.image-box,
.content-section {
  flex: 0 0 50%;
}

.image-box {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

.image-box h1 {
    font-size: 3rem;
    margin: 20px auto 0;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
    font-family: 'Aveniornextltpro-bold', sans-serif;;
}

.u-image {
    width: 285px;
    height: 350px;
    border-radius: 5%;
    cursor: pointer;
}
  
.content-section {
    padding: 30px;
    display: flex;
    margin: 0;
    font-size: 1.125rem;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.8;
    font-family: 'Maven Pro';
    font-size: 18px;
}

.resume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.resume-btn i {
    padding: 0 10px;
}

.main-btn {
    display: inline-block;
    font-size: 15px;
    padding: 0 40px;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid #2F3C7E;
    line-height: 48px;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #2F3C7E;
    color: #ffffff;
}

.main-btn:hover {
    color: #2F3C7E;
    background-color: transparent;
}

.one span:before {
    width: 28px;
    height: 7px;
    display: block;
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -14px;
    background-color: #000;
}

.one span:after {
    width: 100px;
    height: 2px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #000;
}


@media screen and (max-width: 1024px) {
    .container-layout {
      margin: 20px;
    }

    .about-container {
      padding: 30px 0;
    }
}

@media screen and (max-width: 768px) {
    .about-container {
      padding: 30px 0;
    }
}

@media screen and (max-width: 480px) {
    .container {
      max-width: 100%;
    }

    .about-container {
      padding: 30px 20px;
    }

    .container-layout {
      padding: 0;
      flex-direction: column;
      box-shadow: none;
      border: none;
    }

    .content-section {
      padding: 30px 0 0;
    }

    .image-box {
      padding: 20px;
    }

    .content-section {
      border: 0;
    }
}

@media screen and (max-width: 360px) {
    .container {
      max-width: 100%;
    }

    .about-container {
      padding: 0;
    }

    .container-layout {
      flex-direction: column;
      box-shadow: none;
      border: none;
    }

    .image-box {
      padding: 20px;
    }

    .content-section {
      border: 0;
    }

    .left-contact-content {
      text-align: left;
      width: 100%;
    }

    .content-section {
      padding: 20px;
    }
}